extends ./layout

block css
  
block content
  .container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') #{title}
        #nav-collapse.collapse.navbar-collapse
          .col-md-3
            .input-group.searchEngine
              .div
              input.form-control.searchEngine(type="text", placeholder="Search For Cool People")
              span.input-group-addon.btn.btn-default.glyphicon.glyphicon-search
          .col-lg-6
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/login')#profileLink Profile
              li
                a(href="/market").inbox Market <span class="badge">42</span></a>
              li
                a(href="/")#logout Logout
    .col-md-4
      .well.span6
        .row-fluid
          .span2
            img(src="http://static.highsnobiety.com/wp-content/uploads/2013/06/behind-kanye-wests-mask-01.jpg")#profilePic
          .span8
            h2#username Username
            a.twitter-follow-button.twitterline(href="https://twitter.com/kanyewest?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor", data-size="large"): Follow @Username
            a(href="https://twitter.com/intent/tweet").twitter-share-button.tweet.twitterline Tweet
          .span2
            .btn-group
            a.btn.dropdown-toggle.btn-info(data-toggle="dropdown")
              | Update
              span.icon-cog.icon-white
              span.caret
            ul.dropdown-menu
              li
                a(href="/profile/edit")#updateInfo
                  span.icon-wrench
                    | Edit
      .row 
      .input-group.tweetSomething
        input.form-control.searchEngine(type="text", placeholder="What's On Your Mind?")
        span.input-group-addon.btn.btn-default.tweet: i.fa.fa-paper-plane-o
    .col-md-8
      .row
        button.btn.btn-default(data-toggle="modal" data-target="#addItemModal")#addNewItem Add
      .row
        table.table.table-bordered.table-striped
          thead
            tr
              th.col-xs-1 Item
              th.col-xs-2 Price
              th.col-xs-3 Description
              th.col-xs-3 Can Exchange
              th.col-xs-1 Pending
              th.col-xs-1 Edit
              th.col-xs-1 Delete
          tbody#list
            each item in items
              tr#sample(data-value= item._id)
                td.name= item.name
                td.price= item.price
                td.description= item.description
                td.canExchange= item.canExchange 
                  input(type="checkbox")
                td.isPending= item.isPending
                td: a.edit(href='#' data-toggle="modal" data-target="#editItemModal"): i.fa.fa-pencil-square-o.fa-lg
                td: a.delete(href='#'): i.fa.fa-trash-o.fa-lg

  #addItemModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button#modalWindowClose.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Add New Item to Trade
        .modal-body
          label Name:
          input#modalInputName(type='text')
        .modal-body
          label Price:
          input#modalInputPrice(type='text')
        .modal-body
          label Description:
          input#modalInputDescription(type='text')
        .modal-footer
          button.modalCloseBtn.btn.btn-default(type='button', data-dismiss='modal') Close
          button.modalSaveBtn.btn.btn-primary(type='button' id="updateNewItem") Save changes

  #editItemModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button#modalWindowClose.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Edit Item
        .modal-body
          label Name:
          input#modalInputNameEdit(type='text')
        .modal-body
          label Price:
          input#modalInputPriceEdit(type='text')
        .modal-body
          label Description:
          input#modalInputDescriptionEdit(type='text')
        .modal-footer
          button.modalCloseBtn.btn.btn-default(type='button', data-dismiss='modal') Close
          button.modalSaveBtn.btn.btn-primary(type='button' id="editExistItem") Save changes

block js
  script(src='js/profile.js')
